@import 'theme/theme.scss'; 
@import 'theme/_typography.scss';

.hotelresults-list-container {
    background-color: $hotel-container-bg;
    margin: 0px;
} 
body {
    font-family: $global-font-family;
}