
$header-position-from-top: 0;
$header-height: 5rem !default;
$header-logo-top-margin: 0 !default;
$header-background-color: $color-white !default;
$header-height: 5rem !default;
$header-link-color: $color-white!default;

